USE [Proyecto_ES]
GO
/****** Object:  Table [dbo].[dim_articulo]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_articulo](
	[ArticuloID] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Articulo_Tipo] [nvarchar](50) NULL,
	[Articulo_Grupo] [nvarchar](50) NULL,
	[Articulo_Clase] [nvarchar](50) NULL,
	[Precio] [numeric](18, 0) NULL,
 CONSTRAINT [PK_dim_articulo] PRIMARY KEY CLUSTERED 
(
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_cliente]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_cliente](
	[ClienteID] [nvarchar](50) NOT NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Pais] [nvarchar](50) NULL,
	[Tipo_Cliente] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_embarque]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_embarque](
	[Embarque] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dim_embarque] PRIMARY KEY CLUSTERED 
(
	[Embarque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_entrada]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entrada](
	[Folio] [varchar](255) NULL,
	[ClienteID] [varchar](255) NULL,
	[VendedorID] [varchar](255) NULL,
	[TimeID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_salida]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_salida](
	[Folio] [varchar](255) NULL,
	[ClienteID] [varchar](255) NULL,
	[VendedorID] [varchar](255) NULL,
	[Embarque] [varchar](255) NULL,
	[TimeID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_entrada]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_entrada](
	[Folio] [nvarchar](50) NOT NULL,
	[ClienteID] [nvarchar](50) NULL,
	[VendedorID] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
 CONSTRAINT [PK_dim_entrada] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_salida]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_salida](
	[Folio] [nvarchar](50) NOT NULL,
	[ClienteID] [nvarchar](50) NULL,
	[VendedorID] [nvarchar](50) NULL,
	[Embarque] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
 CONSTRAINT [PK_dim_salida] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_time]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_time](
	[TimeID] [int] NOT NULL,
	[Anio] [int] NULL,
	[Semestre] [nvarchar](50) NULL,
	[Cuatrimestre] [nvarchar](50) NULL,
	[Trimestre] [nvarchar](50) NULL,
	[Mes] [int] NULL,
	[Dia_semana] [nvarchar](50) NULL,
	[Dia] [int] NULL,
 CONSTRAINT [PK_dim_time] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_vendedor]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_vendedor](
	[VendedorID] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_vendedor] PRIMARY KEY CLUSTERED 
(
	[VendedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_entrada]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_entrada](
	[Folio] [nvarchar](50) NULL,
	[ClienteID] [nvarchar](50) NULL,
	[VendedorID] [nvarchar](50) NULL,
	[ArticuloID] [nvarchar](50) NULL,
	[Descripcion_Articulo] [nvarchar](200) NULL,
	[Codigo_Articulo] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
	[Empresa] [nvarchar](50) NULL,
	[Almacen] [nvarchar](50) NULL,
	[Ubicacion] [nvarchar](50) NULL,
	[Partida] [int] NULL,
	[Operacion] [nvarchar](50) NULL,
	[Moneda] [nvarchar](50) NULL,
	[Cantidad] [numeric](18, 0) NULL,
	[Precio_Unitario] [numeric](18, 0) NULL,
	[Unidad] [nvarchar](50) NULL,
	[Cantidad_Unidad] [numeric](18, 0) NULL,
	[Pct_Descuento] [numeric](18, 0) NULL,
	[Pct_Descuento_Global] [numeric](18, 0) NULL,
	[Pct_Impuesto] [numeric](18, 0) NULL,
	[Total_Descuento] [numeric](18, 0) NULL,
	[Total_Descuento_D] [numeric](18, 0) NULL,
	[Total_Importe] [numeric](18, 0) NULL,
	[Total_Importe_D] [numeric](18, 0) NULL,
	[Total_Impuesto] [numeric](18, 0) NULL,
	[Total_Impuesto_D] [numeric](18, 0) NULL,
	[Total] [numeric](18, 0) NULL,
	[Total_D] [numeric](18, 0) NULL,
	[Contar_Partidas] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_salida]    Script Date: 10/17/2025 8:12:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_salida](
	[Folio] [nvarchar](50) NULL,
	[ClienteID] [nvarchar](50) NULL,
	[VendedorID] [nvarchar](50) NULL,
	[ArticuloID] [nvarchar](50) NULL,
	[Descripcion_Articulo] [nvarchar](200) NULL,
	[Embarque] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
	[Empresa] [nvarchar](50) NULL,
	[Almacen] [nvarchar](50) NULL,
	[Ubicacion] [nvarchar](50) NULL,
	[Partida] [int] NULL,
	[Condicion_Pago] [nvarchar](50) NULL,
	[Moneda] [nvarchar](50) NULL,
	[Cantidad] [numeric](18, 0) NULL,
	[Precio_Unitario] [numeric](18, 0) NULL,
	[Unidad] [nvarchar](50) NULL,
	[Cantidad_Unidad] [numeric](18, 0) NULL,
	[Pct_Descuento] [numeric](18, 0) NULL,
	[Pct_Descuento_Global] [numeric](18, 0) NULL,
	[Pct_Impuesto] [numeric](18, 0) NULL,
	[Total_Descuento] [numeric](18, 0) NULL,
	[Total_Descuento_D] [numeric](18, 0) NULL,
	[Total_Importe] [numeric](18, 0) NULL,
	[Total_Importe_D] [numeric](18, 0) NULL,
	[Total_Impuesto] [numeric](18, 0) NULL,
	[Total_Impuesto_D] [numeric](18, 0) NULL,
	[Total] [numeric](18, 0) NULL,
	[Total_D] [numeric](18, 0) NULL,
    [Contar_Partidas] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_entrada]  WITH CHECK ADD  CONSTRAINT [FK_fact_entrada_dim_articulo] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[dim_articulo] ([ArticuloID])
GO
ALTER TABLE [dbo].[fact_entrada] CHECK CONSTRAINT [FK_fact_entrada_dim_articulo]
GO
ALTER TABLE [dbo].[fact_entrada]  WITH CHECK ADD  CONSTRAINT [FK_fact_entrada_dim_cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[dim_cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[fact_entrada] CHECK CONSTRAINT [FK_fact_entrada_dim_cliente]
GO
ALTER TABLE [dbo].[fact_entrada]  WITH CHECK ADD  CONSTRAINT [FK_fact_entrada_dim_entrada] FOREIGN KEY([Folio])
REFERENCES [dbo].[dim_sub_entrada] ([Folio])
GO
ALTER TABLE [dbo].[fact_entrada] CHECK CONSTRAINT [FK_fact_entrada_dim_entrada]
GO
ALTER TABLE [dbo].[fact_entrada]  WITH CHECK ADD  CONSTRAINT [FK_fact_entrada_dim_time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dim_time] ([TimeID])
GO
ALTER TABLE [dbo].[fact_entrada] CHECK CONSTRAINT [FK_fact_entrada_dim_time]
GO
ALTER TABLE [dbo].[fact_entrada]  WITH CHECK ADD  CONSTRAINT [FK_fact_entrada_dim_vendedor] FOREIGN KEY([VendedorID])
REFERENCES [dbo].[dim_vendedor] ([VendedorID])
GO
ALTER TABLE [dbo].[fact_entrada] CHECK CONSTRAINT [FK_fact_entrada_dim_vendedor]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_articulo] FOREIGN KEY([ArticuloID])
REFERENCES [dbo].[dim_articulo] ([ArticuloID])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_articulo]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[dim_cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_cliente]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_embarque] FOREIGN KEY([Embarque])
REFERENCES [dbo].[dim_embarque] ([Embarque])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_embarque]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_salida] FOREIGN KEY([Folio])
REFERENCES [dbo].[dim_sub_salida] ([Folio])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_salida]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dim_time] ([TimeID])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_time]
GO
ALTER TABLE [dbo].[fact_salida]  WITH CHECK ADD  CONSTRAINT [FK_fact_salida_dim_vendedor] FOREIGN KEY([VendedorID])
REFERENCES [dbo].[dim_vendedor] ([VendedorID])
GO
ALTER TABLE [dbo].[fact_salida] CHECK CONSTRAINT [FK_fact_salida_dim_vendedor]
GO
