USE [Proyecto_ES]
GO
/****** Object:  StoredProcedure [dbo].[poblar_es]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Poblado de las tablas

CREATE PROCEDURE [dbo].[poblar_es]
AS BEGIN
	-- Eliminacion de las tablas fact
	DELETE [dbo].[fact_entrada];
	DELETE [dbo].[fact_salida];

	-- Eliminacion de las tablas dim
	DELETE [dbo].[dim_articulo];
	DELETE [dbo].[dim_cliente];
	DELETE [dbo].[dim_sub_entrada];
	DELETE [dbo].[dim_sub_salida];
	DELETE [dbo].[dim_time];
	DELETE [dbo].[dim_vendedor];

	-- Datos de la tabla dim_articulo
	INSERT INTO [dbo].[dim_articulo]
	EXEC [dbo].[sp_dim_articulo]
	PRINT 'Tabla dim_articulo poblada!'

	-- Datos de la tabla dim_cliente
	INSERT INTO [dbo].[dim_cliente]
	EXEC [dbo].[sp_dim_cliente]
	PRINT 'Tabla dim_cliente poblada!'

	-- Datos de la tabla dim_sub_entrada
	INSERT INTO [dbo].[dim_sub_entrada]
	EXEC [dbo].[sp_dim_sub_entrada]
	PRINT 'Tabla dim_sub_entrada poblada!'

	-- Datos de la tabla dim_sub_salida
	INSERT INTO [dbo].[dim_sub_salida]
	EXEC [dbo].[sp_dim_sub_salida]
	PRINT 'Tabla dim_sub_salida poblada!'

	-- Datos de la tabla dim_time
	INSERT INTO [dbo].[dim_time]
	EXEC [dbo].[sp_dim_time]
	PRINT 'Tabla dim_time poblada!'

	-- Datos de la tabla dim_vendedor
	INSERT INTO [dbo].[dim_vendedor]
	EXEC [dbo].[sp_dim_vendedor]
	PRINT 'Tabla dim_time poblada!'

	INSERT INTO [dbo].[dim_vendedor] (VendedorID, Nombre)
	SELECT 'NO PROPORCIONADO', 'NO PROPORCIONADO'
	WHERE NOT EXISTS (SELECT 1 FROM [dbo].[dim_vendedor] WHERE VendedorID = 'NO PROPORCIONADO');

	-- Inserta registro 'NO PROPORCIONADO' en caso de ser necesario en dim_cliente
	INSERT INTO [dbo].[dim_cliente] (ClienteID, Ciudad, Estado, Pais, Tipo_Cliente)
	SELECT 'NO PROPORCIONADO', 'NO PROPORCIONADO', 'NO PROPORCIONADO', 'NO PROPORCIONADO', 'NO PROPORCIONADO'
	WHERE NOT EXISTS (SELECT 1 FROM [dbo].[dim_cliente] WHERE ClienteID = 'NO PROPORCIONADO');

	-- Datos de la tabla fact_entrada
	INSERT INTO [dbo].[fact_entrada]
	EXEC [dbo].[sp_fact_entrada]
	PRINT 'Tabla fact_entrada poblada!'

	-- Datos de la tabla fact_salida
	INSERT INTO [dbo].[fact_salida]
	EXEC [dbo].[sp_fact_salida]
	PRINT 'Tabla fact_salida poblada!'

	PRINT 'Todas las tablas pobladas!!'
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_articulo]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_articulo]
AS 
BEGIN
	SELECT 
		UPPER(TRIM(a.[clave])) AS ArticuloID,	
		UPPER(TRIM(a.[Descripcion])) AS Descripcion,
		UPPER(TRIM(ISNULL(artt.[Descripcion], 'No proporcionado'))) AS Articulo_Tipo,
		UPPER(TRIM(ISNULL(ag.[Descripcion], 'No proporcionado'))) AS Articulo_Grupo,
		UPPER(TRIM(ISNULL(ac.[Descripcion], 'No proporcionado'))) AS Articulo_Clase,
		a.[Precio]

	FROM [AutopartesO2025].[dbo].[Articulo] a

	LEFT JOIN [AutopartesO2025].[dbo].[ArticuloTipo] artt
		ON a.ArticuloTipo = artt.Clave

	LEFT JOIN [AutopartesO2025].[dbo].[ArticuloGrupo] ag
		ON a.ArticuloGrupo = ag.Clave

	LEFT JOIN [AutopartesO2025].[dbo].[ArticuloClase] ac
		ON a.ArticuloClase = ac.Clave
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_cliente]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_cliente]
AS
BEGIN
	SELECT 
		UPPER(TRIM(c.[Clave])) as ClienteID,
		-- Valores bloqueados por privacidad
		UPPER(TRIM(ISNULL(c.[Ciudad], 'No proporcionado'))) AS Ciudad, 
		UPPER(TRIM(ISNULL(c.[Estado], 'No proporcionado'))) AS Estado, 
		UPPER(TRIM(ISNULL(c.[Pais], 'No proporcionado'))) AS Pais,
		UPPER(TRIM(ISNULL(ct.[Descripcion], 'No proporcionado'))) as Tipo_Cliente

	FROM [AutopartesO2025].[dbo].[Cliente] c

	LEFT JOIN [AutopartesO2025].[dbo].[ClienteTipo] ct
		ON c.ClienteTipo = ct.Clave
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_sub_entrada]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_sub_entrada]
AS
BEGIN
    SELECT DISTINCT
        UPPER(TRIM(e.[Folio])) AS Folio,
        UPPER(TRIM(ISNULL(e.[Cliente], 'No proporcionado'))) AS ClienteID,
        UPPER(TRIM(ISNULL(e.[Vendedor], 'No proporcionado'))) AS VendedorID,
        CAST(CONVERT(varchar(8), Fecha, 112) AS INT) AS TimeID

    FROM [AutopartesO2025].[dbo].[EntradaEncabezado] e
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_sub_salida]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_sub_salida]
AS
BEGIN
    SELECT DISTINCT
        UPPER(TRIM(e.[Folio])) AS Folio,
        UPPER(TRIM(ISNULL(e.[Cliente], 'No proporcionado'))) AS ClienteID,
        UPPER(TRIM(ISNULL(e.[Vendedor], 'No proporcionado'))) AS VendedorID,
        UPPER(TRIM(ISNULL(e.[MedioEmbarque], 'No proporcionado'))) AS Embarque,
        CAST(CONVERT(varchar(8), Fecha, 112) AS INT) AS TimeID

    FROM [AutopartesO2025].[dbo].[SalidaEncabezado] e
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_time]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_time]
AS
BEGIN
	SELECT 
		DISTINCT
		-- Convierte la fecha (valor Date) en Int
		CAST(CONVERT(varchar(8), Fecha, 112) AS INT) as TimeID,

		-- Año
		YEAR(oe.Fecha) as Anio, 

		-- Semestre (Caso 1 = Ene-Jun, Caso 2 = Jul-Dic)
		CASE 
			WHEN MONTH(oe.Fecha) BETWEEN 1 AND 6 THEN '1S'
			ELSE '2S'
		END AS Semestre,

		-- Cuatrimestre (Caso 1 = Ene-Abr, Caso 2 = Mayo-Ago, Caso 3 = Sept-Dic)
		CASE
			WHEN MONTH(oe.Fecha) BETWEEN 5 AND 8 THEN '2C'
			WHEN MONTH(oe.Fecha) BETWEEN 1 AND 4 THEN '1C'
			ELSE '3C'
		END AS Cuatrimestre,

		-- Trimestre (Caso 1 = Ene-Mar, Caso 2 = Abr-Jun, Caso 3 = Jul-Sept, Caso 4 = Oct-Dic)
		CONCAT(DATEPART(QUARTER, oe.Fecha), 'T') as Trimestre,

		-- Mes
		MONTH(oe.Fecha) as Mes,

		-- Dia de la semana
		DATENAME(WEEKDAY, oe.Fecha) AS Dia_semana,

		-- Dia
		DAY(oe.Fecha) as Dia

	FROM [AutopartesO2025].[dbo].[OrdEntradaEncabezado] oe

    UNION

    SELECT 
		DISTINCT
		-- Convierte la fecha (valor Date) en Int
		CAST(CONVERT(varchar(8), Fecha, 112) AS INT) as TimeID,

		-- Año
		YEAR(se.Fecha) as Anio, 

		-- Semestre (Caso 1 = Ene-Jun, Caso 2 = Jul-Dic)
		CASE 
			WHEN MONTH(se.Fecha) BETWEEN 1 AND 6 THEN '1S'
			ELSE '2S'
		END AS Semestre,

		-- Cuatrimestre (Caso 1 = Ene-Abr, Caso 2 = Mayo-Ago, Caso 3 = Sept-Dic)
		CASE
			WHEN MONTH(se.Fecha) BETWEEN 5 AND 8 THEN '2C'
			WHEN MONTH(se.Fecha) BETWEEN 1 AND 4 THEN '1C'
			ELSE '3C'
		END AS Cuatrimestre,

		-- Trimestre (Caso 1 = Ene-Mar, Caso 2 = Abr-Jun, Caso 3 = Jul-Sept, Caso 4 = Oct-Dic)
		CONCAT(DATEPART(QUARTER, se.Fecha), 'T') as Trimestre,

		-- Mes
		MONTH(se.Fecha) as Mes,

		-- Dia de la semana
		DATENAME(WEEKDAY, se.Fecha) AS Dia_semana,

		-- Dia
		DAY(se.Fecha) as Dia

	FROM [AutopartesO2025].[dbo].[OrdSalidaEncabezado] se
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_dim_vendedor]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dim_vendedor]
AS
BEGIN
	SELECT DISTINCT
		UPPER(TRIM(v.[Clave])) as VendedorID,
		UPPER(TRIM(v.[Nombre])) AS Nombre

	FROM [AutopartesO2025].[dbo].[Vendedor] v
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_fact_entrada]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_fact_entrada]
AS
BEGIN
    SELECT 
        UPPER(TRIM(e.[Folio])) AS Folio,
        UPPER(TRIM(ISNULL(e.[Cliente], 'No proporcionado'))) AS ClienteID,
        -- En caso de que VendedorID sea NULL o esta vacio, se escribe NO PROPORCIONADO
        CASE 
            WHEN UPPER(TRIM(ISNULL(e.[Vendedor], ''))) = '' THEN 'NO PROPORCIONADO'
            ELSE UPPER(TRIM(e.[Vendedor]))
        END AS VendedorID,
        UPPER(TRIM(d.[Articulo])) AS ArticuloID,
        UPPER(TRIM(ISNULL(d.[DescripcionArticulo], 'No proporcionado'))) AS Descripcion_Articulo,
        UPPER(TRIM(ISNULL(d.[CodigoAlternoArticulo], 'No proporcionado'))) AS Codigo_Articulo,
        CAST(CONVERT(varchar(8), Fecha, 112) AS INT) AS TimeID,

        UPPER(TRIM(e.[Empresa])) AS Empresa,
        UPPER(TRIM(d.[Almacen])) AS Almacen,
        UPPER(TRIM(d.[Ubicacion])) AS Ubicacion,
        d.[Partida],
        UPPER(TRIM(e.[Operacion])) AS Operacion,

        UPPER(TRIM(e.[Moneda])) AS Moneda,
        d.[Cantidad],
        d.[Precio] AS Precio_Unitario,
        UPPER(TRIM(ISNULL(d.[UMedPartida], 'No proporcionado'))) AS Unidad,
        d.[CantidadUMedInv] AS Cantidad_Unidad,

        d.[pctDescuento] AS Pct_Descuento, 
        ISNULL(e.[pctDescuentoGlobal], 0) AS Pct_Descuento_Global,
        d.[pctImpuesto] AS Pct_Impuesto,

        e.[TotalDescuento] AS Total_Descuento,
        d.[TotalDescuento] AS Total_Descuento_D,

        e.[TotalImporte] AS Total_Importe,
        d.[TotalImporte] AS Total_Importe_D,

        e.[TotalImpuesto] AS Total_Impuesto,
        d.[TotalImpuesto] AS Total_Impuesto_D,

        e.[Total] AS Total,
        d.[Total] AS Total_D

    FROM [AutopartesO2025].[dbo].[EntradaEncabezado] e

    LEFT JOIN [AutopartesO2025].[dbo].[EntradaDetalle] d
        ON e.Folio = d.Folio
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_fact_salida]    Script Date: 10/16/2025 6:09:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_fact_salida]
AS
BEGIN
    SELECT
        UPPER(TRIM(e.[Folio])) AS Folio,
        UPPER(TRIM(ISNULL(e.[Cliente], 'No proporcionado'))) AS ClienteID,
        UPPER(TRIM(ISNULL(e.[Vendedor], 'No proporcionado'))) AS VendedorID,
        UPPER(TRIM(d.[Articulo])) AS ArticuloID,
        UPPER(TRIM(ISNULL(d.[DescripcionArticulo], 'No proporcionado'))) AS Descripcion_Articulo,
        UPPER(TRIM(ISNULL(e.[MedioEmbarque], 'No proporcionado'))) AS Embarque,
        CAST(CONVERT(varchar(8), Fecha, 112) AS INT) AS TimeID,

        UPPER(TRIM(e.[Empresa])) AS Empresa,
        UPPER(TRIM(d.[Almacen])) AS Almacen,
        UPPER(TRIM(d.[Ubicacion])) AS Ubicacion,
        d.[Partida],

        UPPER(TRIM(ISNULL(e.[CondicionPago], 'No proporcionado'))) AS Condicion_Pago,
        UPPER(TRIM(e.[Moneda])) AS Moneda,
        d.[Cantidad],
        d.[Precio] AS Precio_Unitario,
        UPPER(TRIM(d.[UMedPartida])) AS Unidad,
        d.[CantidadUMedInv] AS Cantidad_Unidad,

        d.[pctDescuento] AS Pct_Descuento, 
        ISNULL(e.[pctDescuentoGlobal], 0) AS Pct_Descuento_Global,
        d.[pctImpuesto] AS Pct_Impuesto,

        e.[TotalDescuento] AS Total_Descuento,
        d.[TotalDescuento] AS Total_Descuento_D,

        e.[TotalImporte] AS Total_Importe,
        d.[TotalImporte] AS Total_Importe_D,

        e.[TotalImpuesto] AS Total_Impuesto,
        d.[TotalImpuesto] AS Total_Impuesto_D,

        e.[Total] AS Total,
        d.[Total] AS Total_D

    FROM [AutopartesO2025].[dbo].[SalidaEncabezado] e

    LEFT JOIN [AutopartesO2025].[dbo].[SalidaDetalle] d
        ON e.Folio = d.Folio
END;
GO
